---
http_interactions:
- request:
    method: get
    uri: http://postcodes.io/postcodes/SE1%207QA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gnu:
      - Michael J Blanchard
      Etag:
      - W/"2ed-/RmGpDmBr4Ex4qevSjnlzb8x/y8"
    body:
      encoding: UTF-8
      string: '{"status":200,"result":{"postcode":"SE1 7QA","quality":1,"eastings":531183,"northings":179317,"country":"England","nhs_ha":"London","longitude":-0.111573,"latitude":51.49758,"european_electoral_region":"London","primary_care_trust":"Lambeth","region":"London","lsoa":"Lambeth
        036B","msoa":"Lambeth 036","incode":"7QA","outcode":"SE1","parliamentary_constituency":"Vauxhall","admin_district":"Lambeth","parish":"Lambeth,
        unparished area","admin_county":null,"admin_ward":"Bishop''s","ced":null,"ccg":"NHS
        Lambeth","nuts":"Lambeth","codes":{"admin_district":"E09000022","admin_county":"E99999999","admin_ward":"E05000416","parish":"E43000212","parliamentary_constituency":"E14001008","ccg":"E38000092","ccg_id":"08K","ced":"E99999999","nuts":"UKI45"}}}'
  recorded_at: Mon, 08 Jun 2020 10:18:13 GMT
recorded_with: VCR 6.0.0
